<a href="https://colab.research.google.com/github/Ramyasri-chintada18/python/blob/main/Data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#data type
#dataa type defined that which type of data is stored

In [ ]:
##DATA TYPES
#int
#float
#string
#complex
#list
#tuple
#set
#dict
#boolean

In [ ]:
#Integer[int()]
#integer contains any numeric values
#example
x=20
print(x)
type(x)

20

int

In [ ]:
#float()
#float contains decimals and numeric values
#examples
x=3.7
print(x)
type(x)

3.7

float

In [ ]:
#string[str()]
#string contains anything with in the "  "(double codes)
#anything writen in string it is considr as a string
#example
x="ramya"
print(x)
type(x)

ramya

str

In [ ]:
#complex()
#complex number is denoted as 'a+ib' ,3+4i
x=3+i7
print(x)
type(x)

NameError: name 'i7' is not defined

In [ ]:
#list()
#list is mutable/changable
#list is defined with square brackets[]
#it is odered
#it allows duplicates
x=["ramya","nandhu","pennu"]
print(x)
type(x)

['ramya', 'nandhu', 'pennu']

list

In [ ]:
#tuple()
#tuple is defined with duplicates
#it stores deferent types of data
#it is unchangable
x=(1,2,3,4,"ramya")
print(x)
type(x)

(1, 2, 3, 4, 'ramya')

tuple

In [ ]:
#dictionary
#it is the pair of keys and values
#it is denoted with flower beakets
x={"name":"ramya","age":18}
print(x)
print(x.keys())
print(x.values())
print(x. items())
print(x.pop("name"))
print(x. update({"coures":"python"}))
type(x)

{'name': 'ramya', 'age': 18}
dict_keys(['name', 'age'])
dict_values(['ramya', 18])
dict_items([('name', 'ramya'), ('age', 18)])
ramya
None

dict

In [ ]:
#set()
#the no of elements stored in flower brackets
#it is unodered
#example
x={"ramya","nandhu","pennu"}
print(x)
type(x)

{'pennu', 'ramya', 'nandhu'}

set

In [ ]:
#boolean[bool()]
#boolean says true (or) false
#if the given condition is true print true else print false
x=True
print(x)
type(x)

True

bool